.bg_netflix{
    background-color:#1B1B1B;
}


.dropdown-item:hover {
    background-color: #4b4b4b;
}

.bg_drop{
    background-color: black;
    color: white;
}

#btn_drop{
    border: 1px white solid;
    border-radius: 0;
    background-color: black;
    color: white;
}

#icons i{
    border: 1px white solid;
}

#btn-car:hover{
    background: hsla(0, 0%, 8%, .5);
}

#button-service{
    border-radius: 0;
    border: 2px solid white;
}

@media screen and (min-width:992px){
    #btn-car{
        width: 5%;
    }
}